html{
    background-color:#2FFFEB;
}
body{
    font-family: 'Lora', serif;
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa;
}
#header{
    font-size: 960px;
}
.menu{
    font-size: 960px;
}
.body{
    font-size: 960px;
}
#footer{
    font-size: 960px;
}